* {
    font-family: "Times New Roman", sans-serif;
}

h1 {
    text-align: center;
    color: red;
}

h3 {
    color: green;
}

body {
    background-color: lightgray;
}

strong {
    color: red;
}

a {
    font-family: "Brush Script MT", sans-serif;
}